//site
$site-background: #000;
$menu-color: #fff;
$title-color: #fff;

//menu
$menu-background: rgba(0, 0, 0, 0.9);
$menu-btn-background: #fff;

//index
$description-text-color: #999999;
$description-box-shadow-color: rgba(255, 255, 255, 0.5);
$slider-bullet-background: #fff;
$slider-bullet-border-color: rgba(255, 255, 255, 0.13);
$slider-bullet-box-shadow-color: rgba(255, 255, 255, 0.5);
