//site
$site-background: #000;
$menu-color: #fff;
$menu-border-color: #0072ff;
$title-color: #fff;
$footer-connect-border-color: #0072ff;
$footer-crafted-color1: #868686;
$footer-crafted-color2: rgba(134, 134, 134, 0.58);
$footer-crafted-hover-color2: #868686;
$site-list-color: #bbb;
$site-link-color: #fff;
$site-link-border: #0072ff;

//menu
$menu-background: rgba(0, 0, 0, 0.9);
$menu-btn-background: #fff;

//footer
$footer-copyright-text-color: #444444;
$footer-connect-text-color: #fff;
$footer-to-top-text-color: #444444;
$footer-to-top-separate-background: #444444;

//index
$description-text-color: #999999;
$description-box-shadow-color: rgba(255, 255, 255, 0.5);
$slider-bullet-background: #fff;
$slider-bullet-border-color: rgba(255, 255, 255, 0.13);
$slider-bullet-box-shadow-color: rgba(255, 255, 255, 0.5);
$slider-button-background: #0072ff;
$slider-button-hover-background: #fff;

//single-project
$single-project-caption-color: #fff;
$single-project-text-color: #bbb;

//similar-projects
$similar-projects-color: #f5f9fa;

//skills
$skills-color: #fff;

//about-us
$about-us-color: #bbb;
$about-us-title-color: #fff;

//projects
$filter-item-color: #666666;
$filter-item-active-color: #fff;
$project-text-color: #fff;
$project-text-background: rgba(0, 114, 255, 0.6);
$project-text-border-color: #fff;

//jobs
$jobs-color: #fff;
$jobs-minor-color: #bbb;

//tabs
$tabs-controls-wrap-border: #e1e1e1;
$tabs-controls-wrap-bg: #f0f0f0;
$tabs-controls-color: #888;
$tabs-controls-active-color: #fff;
$tabs-controls-mobile-active-color: #000;
$tabs-position-color: #888;
$tabs-position-mobile-color: #fff;
$tabs-position-active-color: #fff;
$tabs-position-bg: #000c1a;
$tabs-position-mobile-bg: #a3ccff;
$tabs-position-active-bg: #0072ff;

//aconnect
$connect-content-color: #fff;
$connect-title-color: #fff;
$connect-sub-title-color: #444;
$connect-person-post-color: #666;