.logo {
  position: absolute;
  z-index: 1;
  top: 17px;
  left: 28px;
  width: 52px;
  height: 60px;

  >svg{
    position: relative;
    width: 52px;
    height: 60px;
  }

}

@media (min-width: $tablet-landscape) {
  .logo {
    top: 38px;
  }
}