@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

//fonts
@mixin main-font1() {
  font-family: "Nexa Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin main-font2() {
  font-family: "Nexa Heavy", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin main-font3() {
  font-family: "Nexa Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

//transform
@mixin transform-center() {
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@mixin transformX-center() {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
@mixin transformY-center() {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
@mixin transformY( $posY ) {
  -webkit-transform: translate(0, $posY);
  transform: translate(0, $posY);
}
@mixin transform-rotate( $deg ) {
  -webkit-transform: rotate( $deg + deg );
  transform: rotate( $deg + deg );
}

//transition
@mixin transition( $property, $duration, $delay ) {
  -webkit-transition: $property $duration+s linear $delay+s;
  transition: $property $duration+s linear $delay+s;
}
@mixin transition-opacity-visibility( $duration, $function ) {
  -webkit-transition: opacity $duration+s $function, visibility $duration+s $function;
  transition: opacity $duration+s $function, visibility $duration+s $function;
}