@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

//fonts
@mixin main-font1() {
  font-family: "Nexa Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin main-font2() {
  font-family: "Nexa Heavy", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin main-font3() {
  font-family: "Nexa Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}