@mixin justify() {
  text-align: justify;

  &:after {
    display: inline-block;
    width: 100%;
    content: '';
  }
}

//fonts
@mixin main-font1() {
  font-family: "Nexa Regular", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin main-font2() {
  font-family: "Nexa Heavy", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin main-font3() {
  font-family: "Nexa Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

//transform
@mixin transform-translate( $posX, $posY ) {
  -webkit-transform: translate($posX, $posY);
  transform: translate($posX, $posY);
}
@mixin transform-rotate( $deg ) {
  -webkit-transform: rotate( $deg + deg );
  transform: rotate( $deg + deg );
}

//transition
@mixin transition( $property, $duration, $delay ) {
  -webkit-transition: $property $duration+s linear $delay+s;
  transition: $property $duration+s linear $delay+s;
}
@mixin transition-opacity-visibility( $duration, $function ) {
  -webkit-transition: opacity $duration+s $function, visibility $duration+s $function;
  transition: opacity $duration+s $function, visibility $duration+s $function;
}
@mixin transition-color-bg( $duration, $function ) {
  -webkit-transition: color $duration+s $function, background $duration+s $function;
  transition: opacity $duration+s $function, visibility $duration+s $function;
}

//background
@mixin background-down-page ( $from, $to ) {
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) $from, rgba(0,0,0,1) $to);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) $from,rgba(0,0,0,1) $to);
}