
/*------------preloader---------*/
.preloader {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0, .95);
  -webkit-transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;

  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  &__wrap {
    position:absolute;
    width:400px;
    height:36px;
    left:50%;
    top:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow:visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;

    div {
      position:absolute;
      width:20px;
      height:36px;
      opacity:0;
      //font-family: "Proxima Nova Regular", sans-serif;
      animation:move 2s linear infinite;
      -webkit-animation:move 2s linear infinite;
      transform:rotate(180deg);
      -webkit-transform:rotate(180deg);
      color:#fff;

      &:nth-child(2) {
        animation-delay:0.2s;
        -webkit-animation-delay:0.2s;
      }
    }
  }
}

.preloader__wrap div {

}
.preloader__wrap div:nth-child(2) {

}
.preloader__wrap div:nth-child(3) {
  animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
}
.preloader__wrap div:nth-child(4) {
  animation-delay:0.6s;
  -webkit-animation-delay:0.6s;
}
.preloader__wrap div:nth-child(5) {
  animation-delay:0.8s;
  -webkit-animation-delay:0.8s;
}
.preloader__wrap div:nth-child(6) {
  animation-delay:1s;
  -webkit-animation-delay:1s;
}
.preloader__wrap div:nth-child(7) {
  animation-delay:1.2s;
  -webkit-animation-delay:1.2s;
}

@keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left: 41%;
    transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%;
    transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%;
    transform:rotate(-180deg);
    opacity:0;
  }
}
@-webkit-keyframes move {
  0% {
    left:0;
    opacity:0;
  }
  35% {
    left:41%;
    -webkit-transform:rotate(0deg);
    opacity:1;
  }
  65% {
    left:59%;
    -webkit-transform:rotate(0deg);
    opacity:1;
  }
  100% {
    left:100%;
    -webkit-transform:rotate(-180deg);
    opacity:0;
  }
}
/*------------/preloader---------*/
