/* ------------ single-project ------------ */
.single-project {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
}
/* ------------ /single-project ------------ */