.social {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  text-align: center;

  >a {
    display: inline-block;
    vertical-align: bottom;
    opacity: 0.3;
    width: 40px;
    height: 50px;
    margin: 0 15px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 34px;
    transition: opacity 0.3s linear;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 1;
    }

    >svg {
      position: relative;
      top: 50%;
      left: 50%;
      width: 34px;
      height: 34px;
      @include transform-translate( -50%, -50% );
      transition: color 0.3s linear;
    }
  }

  &__facebook {
    background-size: 19px !important;
    background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20style%3D%22fill%3A%20%23fff%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22152.704px%22%20height%3D%22300px%22%20viewBox%3D%22123.648%200%20152.704%20300%22%20enable-background%3D%22new%20123.648%200%20152.704%20300%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20style%3D%22fill%3A%20%23fff%22%3E%0A%09%3Cg%20style%3D%22fill%3A%20%23fff%22%3E%0A%09%09%3Cpath%20style%3D%22fill%3A%20%23fff%22%20d%3D%22M276.352%2C107.154h-54.936V80.375c0%2C0-3.076-25.466%2C14.729-25.466c20.123%2C0%2C36.19%2C0%2C36.19%2C0V0h-61.616%0A%09%09%09c0%2C0-51.563-0.219-51.563%2C51.562c0%2C11.124-0.052%2C31.375-0.129%2C55.592h-35.379v44.211h35.289%0A%09%09%09C158.73%2C221.659%2C158.486%2C300%2C158.486%2C300h62.93V151.365h41.533L276.352%2C107.154z%22/%3E%0A%09%3C/g%3E%0A%3C/g%3E%0A%3C/svg%3E);
  }

  &__twitter {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22300px%22%20height%3D%22243.687px%22%20viewBox%3D%2250%2028.157%20300%20243.687%22%20enable-background%3D%22new%2050%2028.157%20300%20243.687%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20style%3D%22fill%3A%23fff%22%3E%0A%09%3Cg%20style%3D%22fill%3A%23fff%22%3E%0A%09%09%3Cpath%20style%3D%22fill%3A%23fff%22%20d%3D%22M350%2C56.989c-11.041%2C4.893-22.889%2C8.211-35.338%2C9.692c12.711-7.611%2C22.44-19.684%2C27.052-34.025%0A%09%09%09c-11.923%2C7.049-25.083%2C12.167-39.105%2C14.941c-11.229-11.979-27.201-19.44-44.917-19.44c-33.986%2C0-61.544%2C27.558-61.544%2C61.526%0A%09%09%09c0%2C4.817%2C0.544%2C9.523%2C1.594%2C14.022c-51.14-2.569-96.488-27.07-126.838-64.301c-5.305%2C9.074-8.323%2C19.646-8.323%2C30.932%0A%09%09%09c0%2C21.353%2C10.873%2C40.192%2C27.37%2C51.215c-10.086-0.337-19.572-3.111-27.876-7.723v0.769c0%2C29.807%2C21.221%2C54.683%2C49.359%2C60.345%0A%09%09%09c-5.155%2C1.388-10.591%2C2.155-16.215%2C2.155c-3.974%2C0-7.817-0.393-11.585-1.143c7.836%2C24.463%2C30.557%2C42.254%2C57.477%2C42.742%0A%09%09%09c-21.053%2C16.496-47.598%2C26.301-76.43%2C26.301c-4.967%2C0-9.86-0.3-14.678-0.844c27.239%2C17.49%2C59.577%2C27.689%2C94.333%2C27.689%0A%09%09%09c113.21%2C0%2C175.092-93.771%2C175.092-175.093l-0.206-7.967C331.31%2C80.16%2C341.77%2C69.325%2C350%2C56.989z%22/%3E%0A%09%3C/g%3E%0A%3C/g%3E%0A%3C/svg%3E%0A);
  }

  &__instagram {
    background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22510px%22%20height%3D%22510px%22%20viewBox%3D%220%200%20510%20510%22%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%09%3Cg%20id%3D%22post-instagram%22%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%09%09%3Cpath%20d%3D%22M459%2C0H51C22.95%2C0%2C0%2C22.95%2C0%2C51v408c0%2C28.05%2C22.95%2C51%2C51%2C51h408c28.05%2C0%2C51-22.95%2C51-51V51C510%2C22.95%2C487.05%2C0%2C459%2C0z%20%20%20%20%20M255%2C153c56.1%2C0%2C102%2C45.9%2C102%2C102c0%2C56.1-45.9%2C102-102%2C102c-56.1%2C0-102-45.9-102-102C153%2C198.9%2C198.9%2C153%2C255%2C153z%20M63.75%2C459%20%20%20%20C56.1%2C459%2C51%2C453.9%2C51%2C446.25V229.5h53.55C102%2C237.15%2C102%2C247.35%2C102%2C255c0%2C84.15%2C68.85%2C153%2C153%2C153c84.15%2C0%2C153-68.85%2C153-153%20%20%20%20c0-7.65%2C0-17.85-2.55-25.5H459v216.75c0%2C7.65-5.1%2C12.75-12.75%2C12.75H63.75z%20M459%2C114.75c0%2C7.65-5.1%2C12.75-12.75%2C12.75h-51%20%20%20%20c-7.65%2C0-12.75-5.1-12.75-12.75v-51c0-7.65%2C5.1-12.75%2C12.75-12.75h51C453.9%2C51%2C459%2C56.1%2C459%2C63.75V114.75z%22%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%3C/path%3E%0A%09%3C/g%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3Cg%20style%3D%22fill%3A%20rgb%28255%2C%20255%2C%20255%29%3B%22%3E%0A%3C/g%3E%0A%3C/svg%3E);
  }

  &__linkedin {
    background: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0A%3Csvg%20version%3D%221.1%22%20id%3D%22Capa_1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0A%09%20width%3D%22430.117px%22%20height%3D%22411.001px%22%20viewBox%3D%220%209.558%20430.117%20411.001%22%20enable-background%3D%22new%200%209.558%20430.117%20411.001%22%0A%09%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%20style%3D%22fill%3A%23fff%22%3E%0A%09%3Cpath%20style%3D%22fill%3A%23fff%22%20id%3D%22LinkedIn%22%20d%3D%22M430.117%2C261.543V420.56H337.93V272.193c0-37.271-13.334-62.708-46.703-62.708%0A%09%09c-25.474%2C0-40.633%2C17.142-47.302%2C33.724c-2.432%2C5.929-3.058%2C14.179-3.058%2C22.478V420.56h-92.219c0%2C0%2C1.242-251.285%2C0-277.319%0A%09%09h92.209v39.309c-0.187%2C0.294-0.43%2C0.611-0.605%2C0.896h0.605v-0.896c12.252-18.869%2C34.131-45.824%2C83.103-45.824%0A%09%09C384.633%2C136.724%2C430.117%2C176.361%2C430.117%2C261.543z%20M52.183%2C9.558C20.635%2C9.558%2C0%2C30.251%2C0%2C57.463%0A%09%09c0%2C26.619%2C20.038%2C47.94%2C50.959%2C47.94h0.616c32.159%2C0%2C52.159-21.317%2C52.159-47.94C103.128%2C30.251%2C83.734%2C9.558%2C52.183%2C9.558z%0A%09%09%20M5.477%2C420.56h92.184V143.24H5.477V420.56z%22/%3E%0A%3C/g%3E%0A%3C/svg%3E%0A);
  }

  &_mobile {

    > a {
      width: 30px;
      height: 40px;

      > svg {
        width: 20px;
        height: 20px;
      }

    }
  }

}

@media (min-width: $tablet-landscape) {
  .social {
    top: 38px;
    left: auto;
    right: 28px;
    width: auto;
    text-align: left;
  }
}

@media (min-width: $desktop) {
  .social {

    &_mobile {

      > a {
        width: 40px;
        height: 50px;

        > svg {
          width: 34px;
          height: 34px;
        }

      }
    }

  }
}