/* ------------ project-gallery ------------ */
.project-gallery {

  &__main {}
  &__preview {}

  .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    span {}

  }

}
/* ------------ /project-gallery ------------ */